<div class="body-container">
  <h1> KaffiiRater! </h1>

  <div class="four-column-test">
    <span>first</span>
  </div>
  <div class="four-column-test">
    <span>second</span>
  </div>
  <div class="four-column-test">
    <span>third</span>
  </div>
  <div class="four-column-test">
    <span>fourth</span>
  </div>
</div>
