<div class="body-container">
  <h1> Info about <%= @kaffii.name %> </h1>

  <ul>
    <li> Origin: <%= @kaffii.origin %></li>
    <li> Roast: <%= @kaffii.roast %></li>
  </ul>

  <br>
  <br>
  <br>
  <h2>Rate this Kaffii:</h2>

  <form id="rate-kaffii-form">
    <!-- configure form to post to /rate/:id for id of a given Kaffii -->

  </form>

</div>
